<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <h3>客户信息详情</h3>
        </div>
        <div class="col-md-6" style='text-align: right;'>
          <%= link_to '编辑客户', edit_customer_path(@customer), class: "btn btn-default", style: "margin-top: 20px;" %>
          <%= link_to '返回客户列表', customers_path, class: "btn btn-default", style: "margin-top: 20px;" %>
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <table class="table">
        <tr>
          <td>用户名称：</td>
          <td><%= @customer.name %></td>
        </tr>

        <tr>
          <td>客户地址：</td>
          <td><%= @customer.address %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>
