<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h3>客户信息详情</h3>
    </div>

    <div class="jumbotron">
      <table class="table">
        <tr>
          <td>用户名称：</td>
          <td><%= @customer.name %></td>
        </tr>

        <tr>
          <td>客户地址：</td>
          <td><%= @customer.address %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
