<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h3>更新订单信息</h3>
    </div>

    <%= render 'form' %>
  </div>
  <div class="col-md-1"></div>
</div>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
