<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h3>创建产品信息</h3>
    </div>

    <%= render 'form' %>
  </div>
  <div class="col-md-1"></div>
</div>

<%= link_to 'Back', products_path %>
