<!DOCTYPE html>
<html>
<head>
  <title>OrderManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="width: 24cm; height: 14cm; padding-top: 0;">

  <%= yield %>

</body>
</html>
